@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap");

/* default css start here*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
a {
  color: #555;
  text-decoration: none;
  transition: 0.5s ease;
}
a :hover {
  color: rgb(212, 39, 16);
}
/* default css end here*/

/* bootsrap form css start  */
#InputForm {
  background: #555;
  height: 100vh;
}

.form-wapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background: #fff;
  padding: 1rem;
  max-width: 540px;
  justify-content: center;
  align-items: center;
}
.form h3 {
  position: relative;
  text-align: center;
}
.form-box input {
  padding: 0.6rem;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ff5000;
  outline: 0;
  box-shadow: none !important;
}
.form-box .input-group-text {
  font-size: 1.1rem;
  color: #ff5000;
}
.form-btn {
  padding: 0.5rem 1.5rem;
  background: #ff5000;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #ff5000;
  transition: 0.8s ease-in-out;
}
.form-btn:hover {
  background: none;
  color: #555;
}
